@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 10px 60px;
  @apply scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100;

  @media only screen and (max-width: 600px) {
    margin: 0 auto;
    padding: 0;
  }
}
